@model IEnumerable<WebStore.Models.Entities.Categories>
@{
    Layout = null;    
}
<h4 class="category"><span class="glyphicon glyphicon-th-list catsicon"></span>&nbsp;Категорія</h4>
<ul class="nav nav-pills  nav-stacked">
     <li @{if (ViewBag.SelectedCategory==null)
              {<text>class = "active"</text> }}><a href="@Url.Action("Index", new { controller="Product",area="Adminka",category="null",page=1})">Все</a></li>
    @foreach (var link in Model)
    {    
        <li @{if (link.CategoryID == ViewBag.SelectedCategory)
              {<text>class = "active"</text> }} >@Html.RouteLink(link.Name, new { Controller = "Product", action = "Index", category = link.CategoryID, page = 1,area="Adminka" })
        </li>
    }
</ul>
